@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --regular-font-size: 1.2rem;
    --smaller-font-size: 1rem;
    --vsmaller-font-size: 0.8rem;

    --regular-font-weight: 500;
    --bolder-font-weight: 700;
}

html[data-theme='light']
{
    --background-color: #FFF;

    --primary-font-color: #272A3A;
    --secondary-font-color: #8A8EAA;

    --card-color: #fff;
    --container-color: #f5f5f5;

    --card-shadow: #b5b5b5;
    --card-shadow-rev: #FFF;
}

html[data-theme='dark'] 
{
    --background-color: #212121;

    --primary-font-color: #FFF;
    --secondary-font-color: #D0D0D0;

    --card-color: #676767;
    --container-color: #444;
    
    --card-shadow: #555;
    --card-shadow-rev: #222;
    
    --regular-font-size: 1.2rem;
    --smaller-font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
}

h1 {
    color: var(--primary-font-color);
}

a {
    text-decoration: none;
}

img {
    max-width: 10vw;
    height: 10vh;
}

.container, .team {
    display: grid;
}

.container {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.team {
    grid-template-rows: 5vh auto;
    row-gap: 1rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--container-color);
}

.tm-card, .tm-data {
    display: flex;
    align-items: center;
}

.tm-card {
    width: 30vw;
    justify-content: space-between;
    padding: 0.75rem 1.25rem 0.75rem 0.75rem;
    background-color: var(--card-color);
    box-shadow: 4px 4px 16px var(--card-shadow), -4px -4px 16px var(--card-shadow-rev);
    border-radius: 2rem;
}

.tm-data {
    justify-content: space-between;
}

.tm-img {
    margin: 0 1.5rem;
}

.tm-name {
    font-size: var(--regular-font-size);
    color: var(--primary-font-color);
    font-weight: var(--bolder-font-weight);
}

.profession {
    font-size: var(--smaller-font-size);
    color: var(--secondary-font-color);
}

.social-media {
    margin: 0 0.4rem;
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    transition: .4s;
}

.social-media:hover {
    color: var(--primary-font-color);
    font-size: 1.5rem;
}

@media only screen and (max-width: 1024px) {
    .team {width: 60vw;}
    .tm-card {width: 52vw; border-radius: 1rem;}
    .tm-name {font-size: var(--regular-font-size);}
    .profession {font-size: var(--smaller-font-size);}
}

@media only screen and (max-width: 768px) {
    .team {width: 80vw;}
    .tm-card {width: 72vw;}
}

@media only screen and (max-width: 650px) {
    .tm-card {width: 70vw; padding: 1rem;}
    .tm-name {font-size: var(--smaller-font-size);}
    .profession {font-size: var(--vsmaller-font-size);}
}

@media only screen and (max-width: 450px) {
    h1 {font-size: var(--regular-font-size);}
    .tm-card {width: 65vw;}
}

/* -- Toggle Switch -- */

.team-header {
    display: flex;
    justify-content: space-between;
}

.toggle-container {
    margin-top: -1rem;
    padding-right: 0.5rem;
}

input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 2rem;
	height: 1.2rem;
	background: #bada55;
	display: block;
	border-radius: 10px;
	position: relative;
    margin-bottom: 20px;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 9px;
	height: 9px;
	background: #fff;
	border-radius: 9px;
	transition: 0.4s;
}

input:checked + label {
	background: grey;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 13px;
}